body {
}

.stTable {
    width: 900px;
    padding-left: 22px;
    border-collapse:collapse;
    border:0;
    margin-top:10px;
}

th:last-child, td:last-child {
    text-align: center;
}

td{
    text-align:left;
}

.labs-header {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

table * {
    border: none;
}

tr {
    border-bottom: 1px solid black;
}

tr:last-child {
        border: none;
}

.formlabel {
    margin-top: 20px;
}

.button {
    border-radius: 12px;
    background-color: #ffbb00;
    border: 0;
    font-weight: bold;
    font-size: 18px;
}

input[type=text]{
    width:190px;
}